<div id="urls" data-turbolinks-permanent>
  <div class="card card-mini">
    <div class="card-header">
      <div class="card-title">Tracked Websites</div>
      <ul class="card-action">
        <li>
          <a href="/urls">
            <i class="fa fa-refresh"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body no-padding">
      <table class="table card-table table-vertical-center">
        <thead>
          <tr>
            <th>Server</th>
            <th>Response Time</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if urls.any? %>
            <% urls.each do |url| %>
              <tr class="url" data-id=<%= url.id %>>
                <td><p><strong><%= url.title %></strong></p><p><small><%= url.address %></small></p></td>
                <td><span class="response-time">-</span></td>
                <td><p><span class="status badge badge-warning badge-icon"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Pending</span></span></p></td>
                <td><%= link_to_remove(url.title)%></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td collspan="3"><p class="placeholder">There are no urls yet.</p></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="btn-toolbar">
        <%= new_url_link %>
      </div>
    </div>
  </div>
</div>
