<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <title>Web</title>
    <%= stylesheet 'main' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/9d62184385.css">
    <%= javascript 'turbolinks', 'affix', 'sweetalert.min', 'mask', 'application' %>
    <%= favicon %>
  </head>
  <body class="<%= local(:action_name) %>">
    <div id="container">
      <header>
        <h1>Website-Monitor</h1>
      </header>
      <div class="nav-wrapper">
        <nav>
          <%= render partial: 'shared/navigation' %>
        </nav>
      </div>
      <article>
        <section>
          <%= yield %>
        </section>
      </article>
      <footer>
        <section>
          <p>(c) 2016 Martin Schneider</p>
        </section>
      </footer>
    </div>
  </body>
</html>
